*:focus,
*:focus-visible {
  outline: var(--sys-outline);
  outline-offset: var(--sys-outline-offset);
}

body {
  font-family: var(--sys-font-family-primary), var(--sys-font-family-fallback);
  color: var(--sys-color-on-surface);
  background: var(--sys-color-surface);
}

code,
kbd,
samp,
pre {
  font-family: var(--sys-font-family-monospace);
  font-size: 1em;
}
