html,
html.light {
  color-scheme: light;
  &:root {
    /* Primary */
    --sys-color-primary: #202225;
    --sys-color-on-primary: white;

    /* Outline */
    --sys-color-outline: #d3d2d3;

    /* Surface */
    --sys-color-surface: #f2f1f2;
    --sys-color-on-surface: #202225;

    /* Surface container */
    --sys-color-surface-container: #e7e6e8;
    --sys-color-surface-container-low: #eeeeee;
  }
}
